.login-page {
    background-image: url("/valencia4.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: rgba(
        255,
        255,
        255,
        0.85
    ); /* mantiene visibilidad del fondo */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    max-width: 340px;
    margin: 6rem auto;
    border: 1px solid #e5e5e5;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    animation: fadeIn 0.6s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    width: 300px;
    margin-bottom: 1rem;
    filter: grayscale(100%);
    opacity: 0.9;
}

.login-container h2 {
    font-size: 1.5rem;
    color: #092532;
    margin-bottom: 1.5rem;
}

.login-container input,
.login-container button {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border-radius: 6px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.login-container input {
    border: 1px solid #ccc;
}

.login-container input:focus {
    border-color: #092532;
    outline: none;
    box-shadow: 0 0 5px rgba(9, 37, 50, 0.2);
}

.login-container button {
    background-color: #092532;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0e3b50;
    transform: scale(1.02);
}

.login-container button:disabled {
    background-color: #999999;
    cursor: not-allowed;
    opacity: 0.6;
    transform: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-error {
    color: red;
    background-color: rgba(240, 128, 128, 0.384);
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: center;
    animation: fadeIn 0.6s ease-in;
    border-radius: 5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}