html,
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body,
html,
#root {
    height: 100%;
    background: #f9fbfd; /* Blanco muy claro */
    color: #1a1a1a; /* Gris muy oscuro para texto */
}

.app-container {
    display: flex;
    height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
}

.sidebar {
    background-color: #004080;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main-content {
    flex-grow: 1;
    background-color: #f9fbfd;
    padding: 1rem;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }
}
